.boxProduct {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 40px;
}


.product {
    width: 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    height: 500px;
    background-color: #333333;
    color: white;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.addButon {
    position: fixed;
    right: 10%;
    bottom: 10%;
    font-size: 70px;
    color: blue;
    cursor: pointer;
}


.product_image {
    margin: 40px 40px 10px 40px;
    border-radius: 2%;
    width: 80%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 40px;
}

.product_image img {
    position: absolute;
    width: 100%;
    border-radius: 2%;
    height: 100%;
}

#derecha {
    right: 0px;
    position: absolute;
}

.arrow_botton {
    border-radius: 30%;
    height: 60px;
    width: 60px;
    background-color: transparent;
    /* Fondo transparente */
    border: 0px;
    transition: all 0.2s;
    color: white;
    opacity: .5;
}

.arrow_botton:hover {
    border: 1px solid white;
    opacity: .8;
}




.product_description {
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.product_description button {
    margin-top: 10px;

}

.btn-spacing {
    margin-left: 10px;
}

@media (max-width: 738px) {
    .product {
        width: 250px;
        min-width: 0%;
    }


}